include AUTHORS
include CHEATSHEET
include CONTRIBUTING
include LICENSE
include NEWS
include README.md
include requirements.txt
include extensions/*
include pynini/*
include pywrapfst/*
include scripts/*
include tests/*
include tests/testdata/*
include third_party/bazel/*
include third_party/Dockerfile
global-include *.bazel
global-include *.bzl
